@import url("reset.css");

  * {
	color:burlywood;
} 

div {
	color: rebeccapurple;
}

a {
	color: green;
}

#list {
	color: yellow;
}

div.text {
	color: wheat;
}

.content-footer,.list {
	color: yellowgreen;
}

.text .lesson {
color: aquamarine;
}

.conteiner-item * {
	color: gold;
}

.sub-list>p {
	color: red;
}

 .text ~ p {
 	color: fuchsia;
 }

 .text + p {
		color: red;
 }

.footer p {
	color:palevioletred;
} 

.conteiner {
	color: firebrick;
} 

[class*="__text"] {
	color: green;
}

