@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Karla:ital,wght@0,300;1,300&display=swap");

/* Обмежуючий контейнер */
[class*="__container"] {
  background: url("../img/1fon.jpg") center / cover no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

/* Додаткове обмеження ширини */
.article__text-block {
  color: #e5e5e5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  max-width: 1238px;
  margin: 0 auto;
}

.title {
  color: #f8f9fa;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  /* 40/25 */
  /* margin-bottom: 40px;	 */
}

.date.text {
  color: #e5e5e5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
}

.date {
  padding-top: 330px;
  padding-bottom: 15px;
}
.title {
  padding-bottom: 15px;
}
.text {
  padding-bottom: 100px;
}

/* Списки */
.main {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #637381;
  background-color: #e6e6e6;
  max-width: 1238px;
  margin: 0 auto;
  padding: 30px;
}
.list li {
  font-size: 16px;
  line-height: 1.06;
  background: url("../img/icons/check.svg") 0 0 / 14px no-repeat;
  margin-bottom: 18px;
  padding-left: 25px;
  padding-bottom: 8px;
  min-height: 10px;
}
.list2 li {
  font-size: 16px;
  line-height: 1.06;
  background: url("../img/icons/arrow-right.svg") 0 0 / 14px no-repeat;
  margin-bottom: 18px;
  padding-left: 25px;
  padding-bottom: 8px;
  min-height: 10px;
}

.list3 li {
  font-size: 16px;
  line-height: 1.06;
  background: url("../img/icons/checkmark-circle.svg") 0 0 / 14px no-repeat;
  margin-bottom: 18px;
  padding-left: 25px;
  padding-bottom: 8px;
  min-height: 10px;
}

.list4 li {
  font-size: 16px;
  line-height: 1.06;
  background: url("../img/icons/cross-circle.svg") 0 0 / 14px no-repeat;
  margin-bottom: 18px;
  padding-left: 25px;
  padding-bottom: 8px;
  min-height: 10px;
}

.list5 li {
  font-size: 16px;
  line-height: 1.06;
  background: url("../img/icons/Ellipse.svg") 0 0 / 14px no-repeat;
  margin-bottom: 18px;
  padding-left: 25px;
  padding-bottom: 8px;
  min-height: 10px;
}

.list6 li {
  font-size: 16px;
  line-height: 1.06;
  background: url("../img/icons/star.svg") 0 0 / 14px no-repeat;
  margin-bottom: 18px;
  padding-left: 25px;
  padding-bottom: 8px;
  min-height: 10px;
}

.fon {
  max-width: 1440px;
  margin: 0 auto;
  height: 560px;
  background: url("../img/speaker.png") 75% no-repeat,
    url("../img/Vector-17.png") 100% no-repeat,
    url("../img/Vector-18.png") 100% no-repeat, #f4f7ff;
}

.block-text {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 145px;
}

.blue_text {
  color: #3056d3;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 13px;
}

.title2 {
  color: #212b36;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 15px;
  min-height: 56px;
}
.text2 {
  color: #637381;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

/* Кнопка */
.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #3056d3;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 0 0 #000;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.button:hover {
  top: 3px;
  box-shadow: 0 2px 0 0 #000;
  box-shadow: 0px 0px 20px 0px #212b36;
}

/* Приклади */

.block {
  max-width: 1440px;
  margin: 0 auto;
  height: 560px;
  padding: 30px;
  background: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(48, 86, 211, 0.0802899096385542) 54%,
      rgba(0, 0, 0, 0.07727786144578308) 54%
    ),
    linear-gradient(
      115deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(48, 86, 211, 0.0802899096385542) 60%,
      rgba(0, 0, 0, 0.07727786144578308) 60%
    ),
    #f4f7ff;
}
.block1 {
  max-width: 1440px;
  margin: 0 auto;
  height: 500px;
  padding: 30px;
  color: #fff;
  background-image: url("../img/home.jpg");
}
.block2 {
  max-width: 1440px;
  margin: 0 auto;
  height: 560px;
  padding: 30px;
  background-image: url("../img/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.block3 {
  max-width: 1440px;
  margin: 0 auto;
  height: 560px;
  padding: 30px;
  color: #fff;
  background-image: url("../img/repeat.jpg");
}
.block4 {
  max-width: 1440px;
  margin: 0 auto;
  height: 560px;
  padding: 30px;
  color:greenyellow;
  background-image: url("../img/Home.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
}
.block5 {
  max-width: 1440px;
  margin: 0 auto;
  height: 560px;
  padding: 30px;
  color: #fff;
  background-image: url("../img/Home.jpg");
  background-size: cover;
}
.block6 {
  max-width: 1440px;
  margin: 0 auto;
  height: 560px;
  padding: 30px;
  background: url("../img/Home.jpg") center / auto no-repeat,
    rgba(0, 128, 0, 0.438);
}
.block7 {
  max-width: 1440px;
  margin: 0 auto;
  height: 280px;
  padding: 30px;
  background-color: gray;
}
.block8 {
  max-width: 1440px;
  margin: 0 auto;
  height: 280px;
  padding: 30px;
  background-color: gold;
}
